# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
report.txt
dist_mac/Program_Start.app/Contents/Info.plist
dist_mac/Program_Start.app/Contents/PkgInfo
dist_mac/Program_Start.app/Contents/Frameworks/phonon.framework/phonon
dist_mac/Program_Start.app/Contents/Frameworks/phonon.framework/phonon.prl
dist_mac/Program_Start.app/Contents/Frameworks/phonon.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/phonon.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/phonon.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/phonon.framework/Versions/4/phonon
dist_mac/Program_Start.app/Contents/Frameworks/QtCore.framework/QtCore
dist_mac/Program_Start.app/Contents/Frameworks/QtCore.framework/QtCore.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtCore.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtCore.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtCore.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtCore.framework/Versions/4/QtCore
dist_mac/Program_Start.app/Contents/Frameworks/QtDBus.framework/QtDBus
dist_mac/Program_Start.app/Contents/Frameworks/QtDBus.framework/QtDBus.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtDBus.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtDBus.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtDBus.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtDBus.framework/Versions/4/QtDBus
dist_mac/Program_Start.app/Contents/Frameworks/QtDeclarative.framework/QtDeclarative
dist_mac/Program_Start.app/Contents/Frameworks/QtDeclarative.framework/QtDeclarative.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtDeclarative.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtDeclarative.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtDeclarative.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtDeclarative.framework/Versions/4/QtDeclarative
dist_mac/Program_Start.app/Contents/Frameworks/QtDesigner.framework/QtDesigner
dist_mac/Program_Start.app/Contents/Frameworks/QtDesigner.framework/QtDesigner.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtDesigner.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtDesigner.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtDesigner.framework/Versions/4/QtDesigner
dist_mac/Program_Start.app/Contents/Frameworks/QtGui.framework/QtGui
dist_mac/Program_Start.app/Contents/Frameworks/QtGui.framework/QtGui.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtGui.framework/Resources
dist_mac/Program_Start.app/Contents/Frameworks/QtGui.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtGui.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtGui.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtGui.framework/Versions/4/QtGui
dist_mac/Program_Start.app/Contents/Frameworks/QtGui.framework/Versions/4/Resources/qt_menu.nib/classes.nib
dist_mac/Program_Start.app/Contents/Frameworks/QtGui.framework/Versions/4/Resources/qt_menu.nib/info.nib
dist_mac/Program_Start.app/Contents/Frameworks/QtGui.framework/Versions/4/Resources/qt_menu.nib/keyedobjects.nib
dist_mac/Program_Start.app/Contents/Frameworks/QtHelp.framework/QtHelp
dist_mac/Program_Start.app/Contents/Frameworks/QtHelp.framework/QtHelp.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtHelp.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtHelp.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtHelp.framework/Versions/4/QtHelp
dist_mac/Program_Start.app/Contents/Frameworks/QtMultimedia.framework/QtMultimedia
dist_mac/Program_Start.app/Contents/Frameworks/QtMultimedia.framework/QtMultimedia.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtMultimedia.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtMultimedia.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtMultimedia.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtMultimedia.framework/Versions/4/QtMultimedia
dist_mac/Program_Start.app/Contents/Frameworks/QtNetwork.framework/QtNetwork
dist_mac/Program_Start.app/Contents/Frameworks/QtNetwork.framework/QtNetwork.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtNetwork.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtNetwork.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtNetwork.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtNetwork.framework/Versions/4/QtNetwork
dist_mac/Program_Start.app/Contents/Frameworks/QtOpenGL.framework/QtOpenGL
dist_mac/Program_Start.app/Contents/Frameworks/QtOpenGL.framework/QtOpenGL.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtOpenGL.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtOpenGL.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtOpenGL.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtOpenGL.framework/Versions/4/QtOpenGL
dist_mac/Program_Start.app/Contents/Frameworks/QtScript.framework/QtScript
dist_mac/Program_Start.app/Contents/Frameworks/QtScript.framework/QtScript.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtScript.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtScript.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtScript.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtScript.framework/Versions/4/QtScript
dist_mac/Program_Start.app/Contents/Frameworks/QtScriptTools.framework/QtScriptTools
dist_mac/Program_Start.app/Contents/Frameworks/QtScriptTools.framework/QtScriptTools.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtScriptTools.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtScriptTools.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtScriptTools.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtScriptTools.framework/Versions/4/QtScriptTools
dist_mac/Program_Start.app/Contents/Frameworks/QtSql.framework/QtSql
dist_mac/Program_Start.app/Contents/Frameworks/QtSql.framework/QtSql.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtSql.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtSql.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtSql.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtSql.framework/Versions/4/QtSql
dist_mac/Program_Start.app/Contents/Frameworks/QtSvg.framework/QtSvg
dist_mac/Program_Start.app/Contents/Frameworks/QtSvg.framework/QtSvg.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtSvg.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtSvg.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtSvg.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtSvg.framework/Versions/4/QtSvg
dist_mac/Program_Start.app/Contents/Frameworks/QtTest.framework/QtTest
dist_mac/Program_Start.app/Contents/Frameworks/QtTest.framework/QtTest.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtTest.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtTest.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtTest.framework/Versions/4/QtTest
dist_mac/Program_Start.app/Contents/Frameworks/QtWebKit.framework/QtWebKit
dist_mac/Program_Start.app/Contents/Frameworks/QtWebKit.framework/QtWebKit.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtWebKit.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtWebKit.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtWebKit.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtWebKit.framework/Versions/4/QtWebKit
dist_mac/Program_Start.app/Contents/Frameworks/QtXml.framework/QtXml
dist_mac/Program_Start.app/Contents/Frameworks/QtXml.framework/QtXml.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtXml.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtXml.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtXml.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtXml.framework/Versions/4/QtXml
dist_mac/Program_Start.app/Contents/Frameworks/QtXmlPatterns.framework/QtXmlPatterns
dist_mac/Program_Start.app/Contents/Frameworks/QtXmlPatterns.framework/QtXmlPatterns.prl
dist_mac/Program_Start.app/Contents/Frameworks/QtXmlPatterns.framework/Contents/Info.plist
dist_mac/Program_Start.app/Contents/Frameworks/QtXmlPatterns.framework/Versions/4.0
dist_mac/Program_Start.app/Contents/Frameworks/QtXmlPatterns.framework/Versions/Current
dist_mac/Program_Start.app/Contents/Frameworks/QtXmlPatterns.framework/Versions/4/QtXmlPatterns
dist_mac/Program_Start.app/Contents/MacOS/Program_Start
dist_mac/Program_Start.app/Contents/MacOS/python
dist_mac/Program_Start.app/Contents/Resources/__boot__.py
dist_mac/Program_Start.app/Contents/Resources/__error__.sh
dist_mac/Program_Start.app/Contents/Resources/include
dist_mac/Program_Start.app/Contents/Resources/Program_Start.py
dist_mac/Program_Start.app/Contents/Resources/qt.conf
dist_mac/Program_Start.app/Contents/Resources/seagate_logo.icns
release/Program/seagate_logo.icns
src/Program/seagate_logo.icns
